.container {
    margin: 50px 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-left: 30px;
     padding-right: 30px;

}
.card {
    margin: 10px 2% !important; 
}

.infected {
    border-left : 10px solid rgb(0,0,255, 0.5);
}

.recovered {
    border-left : 10px solid rgb(0,255,0, 0.5);
}

.deaths {
    border-left : 10px solid rgb(255,0,0, 0.5);
}